@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: openSans, sans-serif;
}

h1,
h2 {
	font-family: stella, sans-serif;
}

a,
p {
	font-family: openSans, sans-serif;
}

#traineira,
#veleiro,
#quemsomos {
	background-color: #e5efdf;
}
#quemsomos h2,
#quemsomos p,
#traineira h2,
#traineira p,
#veleiro h2,
#veleiro p {
	color: #91602a;
}

#escuna,
#jeep {
	background-color: #91602a;
}

#lancha {
	background-color: #82ac9d;
}

#personalizado,
#van {
	background-color: #4f2f26;
}
